body {
    width: 300px;
    background: #09090b;
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

h1 {
    font-size: 14px;
    color: #bef264;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input {
    background: #18181b;
    border: 1px solid #27272a;
    color: white;
    padding: 8px;
    font-size: 12px;
    border-radius: 6px;
}

button {
    background: #bef264;
    color: black;
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: opacity 0.2s;
}

button:hover {
    opacity: 0.9;
}

.hidden {
    display: none;
}

#status {
    font-size: 11px;
    text-align: center;
    color: #a1a1aa;
}

.error {
    color: #ef4444;
    /* Red 500 */
    font-size: 11px;
    margin-top: 8px;
    text-align: center;
}

.secondary-btn {
    background: transparent;
    border: 1px solid #3f3f46;
    color: #a1a1aa;
    margin-top: 15px;
    padding: 6px;
    font-size: 11px;
}

.secondary-btn:hover {
    background: #27272a;
    color: #ffffff;
    border-color: #52525b;
}

/* 
#tags {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
} */